#contact {
  background: #e8e8e8;
  .contact-container {
    padding-bottom: 40px;
    h1 {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 10px;
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
      color: #414141;
      font-size: 40px;
      border-bottom: 1px solid #414141;
      width: 150px;
      margin: 0 auto;
    }
    .info {
      text-align: center;
      margin-top: 40px;
      a {
        font-size: 40px;
        color: black;
        padding: 10px;
      }
    }
  }
}
