.mobile-nav {
  display: none;
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;

  ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    a {
      padding: 10px 0;
      text-decoration: none;
      font-size: 30px;
      color: #414141;
      font-family: "Raleway", Sans-Serif;
    }
  }
}

#header .header-container {
  background: url("../img/sky.jpeg");
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 75px;
    }
  }
  .hamburger {
    display: none;
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 10px;
    ul {
      text-align: right;
      padding: 0 20px;
    }
    ul a {
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
      text-decoration: none;
      color: #414141;
      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }

  .info {
    text-align: center;
    .name h1 {
      font-family: "Raleway", Sans-Serif;

      font-size: 60px;
      color: #414141;
    }
    .title h2 {
      font-size: 30px;
      margin-top: 5px;
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
      color: #414141;
    }
    .social {
      margin-top: 10px;
      a {
        display: inline-block;
        color: #414141;
        font-size: 30px;
        padding: 0px 10px;
      }
    }
  }
}

@media all and (max-width: 550px) {
  #header {
    .header-container {
      .hamburger {
        display: block;
      }
      .info {
        .name h1 {
          font-size: 40px;
        }
        .title h2 {
          font-size: 25px;
        }
      }
    }
    .menu {
      display: none;
    }
  }
}
