#projects {
  background: #f0f0f0;
  margin: 0 auto;
  padding: 40px 0;
  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    text-align: center;

    padding-bottom: 10px;
    font-family: "Raleway", Sans-Serif;
    font-weight: 900;
    color: #414141;
    font-size: 40px;
    border-bottom: 1px solid #414141;
    width: 150px;
    margin: 0 auto;
  }
  .projects-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 10px;

    .box {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      .title {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #414141;
        h2 {
          border: 1px solid #414141;
          padding: 10px;
          font-family: "Raleway", Sans-Serif;
          font-weight: 900;
          font-size: 20px;
          display: none;
        }
      }
      &:hover {
        .title {
          background: rgba(255, 255, 255, 0.7);
          h2 {
            display: block;
          }
        }
      }
    }
    .one {
      background: url("https://i.ibb.co/jJQmKkP/e-commerce-pic1.png");
      background-size: cover;
      background-position: center;
    }
    .two {
      background: url("https://i.ibb.co/17VSkDn/chat-app-pic1.png");
      background-size: cover;
      background-position: center;
    }
    .three {
      background: url("https://i.ibb.co/Ntrrhh9/bitcoin-pic1.png");
      background-size: cover;
      background-position: center;
    }
    .four {
      background: url("https://i.ibb.co/VvYK56p/user-app-pic1.png");
      background-size: cover;
      background-position: center;
    }
    .five {
      background: url("https://i.ibb.co/bFy7vFv/real-estate-pic1.png");
      background-size: cover;
      background-position: center;
    }
    .six {
      background: url("https://i.ibb.co/k9fvYQQ/skatez-pic1.png");
      background-size: cover;
      background-position: center;
    }
    .seven {
      background: url("https://i.ibb.co/f8LRcNd/timez-pic1.png");
      background-size: cover;
      background-position: center;
    }
  }
}

@media all and (max-width: 900px) {
  #projects {
    .projects-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px 250px 250px 250px;
    }
  }
}

@media all and (max-width: 550px) {
  #projects {
    .projects-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
    }
  }
}
