@import "reset.scss";

html,
body {
  overflow-x: hidden;
}
#header .header-container {
  background: url("img/sky.jpeg");
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    img {
      width: 75px;
    }
  }
  .hamburger {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    span {
      background: #000;
      border-radius: 3px;
      display: block;
      height: 3px;
      margin-top: 5px;
      padding: 0;
      position: relative;
      transition: all 0.2s ease;
      width: 25px;
    }
  }
  .active {
    .one {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
      top: 7px;
    }
    .two {
      opacity: 0;
    }
    .three {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
      top: -9px;
    }
  }
  .menu {
    position: absolute;
    top: 10px;
    right: 10px;
    ul a {
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
      text-decoration: none;
      color: black;
      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }
  .info {
    text-align: center;
    .picture img {
      border-radius: 50%;
      width: 75px;
    }
    .name h1 {
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
      font-size: 40px;
      margin-top: 10px;
    }
    .title h2 {
      font-size: 20px;
      margin-top: 10px;
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
    }
    .social {
      margin-top: 10px;
      a {
        display: inline-block;
        color: black;
        font-size: 25px;
        padding: 10px;
      }
    }
    .latest {
      margin-top: 20px;
      a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        border: 2px solid black;
        font-family: "Raleway", Sans-Serif;
        &:hover {
          transition: ease-in-out 0.5s;
          color: white;
          border-color: white;
        }
      }
    }
  }
}
#about {
  padding: 40px 0 0 0;
  margin: 0 auto;
  background: white;
  h1 {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: "Raleway", Sans-Serif;
    font-weight: 900;
    color: #414141;
    font-size: 40px;
    border-bottom: 1px solid #414141;
    width: 150px;
    margin: 0 auto;
  }
  .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    // width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
    .box {
      background: rgba(255, 255, 255, 0);
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      padding: 30px;
      &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }
      h2 {
        text-align: center;
        font-family: "Raleway", Sans-Serif;
        font-weight: 900;
        font-size: 25px;
        color: #414141;
      }
      p {
        width: 90%;
        margin: 10px auto 10px auto;
        font-family: "Open Sans", Sans-Serif;
        line-height: 1.2;
        color: #414141;
        font-size: 18px;
      }
      .icons {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .fab {
          font-size: 30px;
          padding: 15px;
          text-align: center;
        }
      }
    }
    .one {
      border-bottom: 2px solid #414141;
    }
    .two {
      border-bottom: 2px solid #414141;
    }
    .three {
      border-bottom: 2px solid #414141;
    }
  }
}
#projects {
  background: #f8f8f8;
  margin: 40px auto 0 auto;
  padding-bottom: 40px;
  h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-family: "Raleway", Sans-Serif;
    font-weight: 900;
    color: #414141;
    font-size: 40px;
    border-bottom: 1px solid #414141;
    width: 150px;
    margin: 0 auto;
  }
  .projects-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-gap: 10px;
    .box {
      .title {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
          border: 1px solid black;
          padding: 10px;
          font-family: "Raleway", Sans-Serif;
          font-weight: 900;
          font-size: 20px;
          display: none;
        }
      }
      &:hover {
        .title {
          background: rgba(255, 255, 255, 0.7);
          h2 {
            display: block;
          }
        }
      }
    }
    .one {
      background: url("https://cdn.dribbble.com/users/2090940/screenshots/5352605/presentasi_dribbble_4x.png");
      background-size: cover;
    }
    .two {
      background: url("https://cdn.dribbble.com/users/1643592/screenshots/5331703/preview_5_4x.png");
      background-size: cover;
    }
    .three {
      background: url("https://cdn.dribbble.com/users/970957/screenshots/5352410/13-server-hosting-revisi.gif");
      background-size: cover;
    }
    .four {
      background: url("https://cdn.dribbble.com/users/1123328/screenshots/5354325/board-decks-desktop-mark-maynard_4x.jpg");
      background-size: cover;
    }
    .five {
      background: url("https://cdn.dribbble.com/users/501888/screenshots/5115887/boulder_abodes_1_small_4x.jpg");
      background-size: cover;
    }
    .six {
      background: url("https://cdn.dribbble.com/users/1691844/screenshots/5350165/12_1_b_4x.jpg");
      background-size: cover;
    }
    .seven {
      background: url("https://cdn.dribbble.com/users/1581557/screenshots/5353307/dribbble_shot_mockup_03_1x.png");
      background-size: cover;
    }
    .eight {
      background: url("https://cdn.dribbble.com/users/58708/screenshots/5355468/findyourwave-dribbble_4x.png");
      background-size: cover;
    }
    .nine {
      background: url("https://cdn.dribbble.com/users/391380/screenshots/5353890/inspace-shot_4x.jpg");
      background-size: cover;
    }
  }
}
#contact {
  background: #e8e8e8;
  .contact-container {
    padding-bottom: 40px;
    h1 {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 10px;
      font-family: "Raleway", Sans-Serif;
      font-weight: 900;
      color: #414141;
      font-size: 40px;
      border-bottom: 1px solid #414141;
      width: 150px;
      margin: 0 auto;
    }
    .info {
      text-align: center;
      margin-top: 40px;
      a {
        font-size: 40px;
        color: black;
        padding: 10px;
      }
    }
  }
}

// media
@media all and (max-width: 900px) {
  // #header{
  //     .header-container{
  //         .hamburger{
  //             display: block;
  //         }
  //     }
  // }
  #about {
    .box-container {
      display: grid;
      grid-template-columns: 1fr;
      width: 50%;
    }
  }
  #projects {
    .projects-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 250px 250px 250px 250px 250px;
    }
  }
}

@media all and (max-width: 550px) {
  #header {
    .header-container {
      .hamburger {
        display: block;
      }
    }
    .menu {
      display: none;
    }
  }
  #about {
    .box-container {
      display: grid;
      grid-template-columns: 1fr;
      width: 90%;
    }
  }
  #projects {
    .projects-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 250px 250px 250px 250px 250px 250px 250px 250px 250px;
      padding: 0;
    }
  }
}
