/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mobile-nav {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #e8e8e8;
}
.mobile-nav ul a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 30px;
  color: #414141;
  font-family: "Raleway", Sans-Serif;
}

#header .header-container {
  background: url("../img/sky.jpeg");
  height: 70vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .header-container .logo {
  position: absolute;
  left: 0;
  top: 0;
}
#header .header-container .logo img {
  width: 75px;
}
#header .header-container .hamburger {
  display: none;
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}
#header .header-container .menu {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px;
}
#header .header-container .menu ul {
  text-align: right;
  padding: 0 20px;
}
#header .header-container .menu ul a {
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  text-decoration: none;
  color: #414141;
}
#header .header-container .menu ul a li {
  display: inline-block;
  padding: 10px;
}
#header .header-container .info {
  text-align: center;
}
#header .header-container .info .name h1 {
  font-family: "Raleway", Sans-Serif;
  font-size: 60px;
  color: #414141;
}
#header .header-container .info .title h2 {
  font-size: 30px;
  margin-top: 5px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  color: #414141;
}
#header .header-container .info .social {
  margin-top: 10px;
}
#header .header-container .info .social a {
  display: inline-block;
  color: #414141;
  font-size: 30px;
  padding: 0px 10px;
}
#header .header-container .info .social a .fa-github-square:hover {
  color: #c9510c;
  transition: all 0.4s ease-in-out;
}
#header .header-container .info .social a .fa-envelope:hover {
  color: white;
  transition: all 0.4s ease-in-out;
}

@media all and (max-width: 550px) {
  #header .header-container .hamburger {
    display: block;
  }
  #header .header-container .info .name h1 {
    font-size: 40px;
  }
  #header .header-container .info .title h2 {
    font-size: 25px;
  }
  #header .menu {
    display: none;
  }
}
#about {
  padding: 40px 0;
  margin: 0 auto;
  background: #f8f8f8;
}
#about h1 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  color: #414141;
  font-size: 40px;
  border-bottom: 1px solid #414141;
  width: 150px;
  margin: 0 auto;
}
#about .box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}
#about .box-container .box {
  background: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  padding: 30px 0;
}
#about .box-container .box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#about .box-container .box h2 {
  text-align: center;
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  font-size: 25px;
  color: #414141;
}
#about .box-container .box p {
  width: 90%;
  margin: 10px auto 10px auto;
  font-family: "Open Sans", Sans-Serif;
  line-height: 1.5;
  color: #414141;
  font-size: 18px;
}
#about .box-container .box .icons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#about .box-container .box .icons .fab,
#about .box-container .box .icons .fas {
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

@media all and (max-width: 900px) {
  #about .box-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
  }
}
@media all and (max-width: 550px) {
  #about .box-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
  }
}
#projects {
  background: #f0f0f0;
  margin: 0 auto;
  padding: 40px 0;
}
#projects a {
  text-decoration: none;
  color: black;
}
#projects h1 {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  color: #414141;
  font-size: 40px;
  border-bottom: 1px solid #414141;
  width: 150px;
  margin: 0 auto;
}
#projects .projects-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px 250px;
  grid-gap: 10px;
}
#projects .projects-container .box {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
#projects .projects-container .box .title {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #414141;
}
#projects .projects-container .box .title h2 {
  border: 1px solid #414141;
  padding: 10px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  font-size: 20px;
  display: none;
}
#projects .projects-container .box:hover .title {
  background: rgba(255, 255, 255, 0.7);
}
#projects .projects-container .box:hover .title h2 {
  display: block;
}
#projects .projects-container .one {
  background: url("/img/E-commerce-images/e-commerce-pic1.png");
  background-size: cover;
  background-position: center;
}
#projects .projects-container .two {
  background: url("/img/chat-app-images/chat-app-pic1.png");
  background-size: cover;
  background-position: center;
}
#projects .projects-container .three {
  background: url("/img/bitcoin-images/bitcoin-pic1.png");
  background-size: cover;
  background-position: center;
}
#projects .projects-container .four {
  background: url("/img/user-app-images/user-app-pic1.png");
  background-size: cover;
  background-position: center;
}
#projects .projects-container .five {
  background: url("/img/real-estate-images/real-estate-pic1.png");
  background-size: cover;
  background-position: center;
}
#projects .projects-container .six {
  background: url("/img/skatez-images/skatez-pic1.png");
  background-size: cover;
  background-position: center;
}
#projects .projects-container .seven {
  background: url("/img/timez-images/timez-pic1.png");
  background-size: cover;
  background-position: center;
}

@media all and (max-width: 900px) {
  #projects .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
  }
}
@media all and (max-width: 550px) {
  #projects .projects-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 250px 250px 250px 250px 250px 250px;
  }
}
#contact {
  background: #e8e8e8;
}
#contact .contact-container {
  padding-bottom: 40px;
}
#contact .contact-container h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  color: #414141;
  font-size: 40px;
  border-bottom: 1px solid #414141;
  width: 150px;
  margin: 0 auto;
}
#contact .contact-container .info {
  text-align: center;
  margin-top: 40px;
}
#contact .contact-container .info a {
  font-size: 40px;
  color: black;
  padding: 10px;
}
#contact .contact-container .info a .fa-github-square:hover {
  color: #c9510c;
  transition: all 0.4s ease-in-out;
}
#contact .contact-container .info a .fa-envelope:hover {
  color: white;
  transition: all 0.4s ease-in-out;
}

.menu {
  padding: 10px;
}
.menu ul {
  text-align: right;
  padding: 0 20px;
}
.menu ul a {
  font-family: "Raleway", Sans-Serif;
  font-weight: 900;
  text-decoration: none;
  color: black;
}
.menu ul li {
  display: inline-block;
  padding: 10px;
}

body {
  background: #f8f8f8;
}

.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  z-index: 5;
  color: #414141;
}

.mobile-nav {
  display: none;
  background: white;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  background: #f8f8f8;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.mobile-nav ul a {
  padding: 10px 0;
  text-decoration: none;
  font-size: 30px;
  color: #414141;
  font-family: "Raleway", Sans-Serif;
}

.menu ul a {
  color: #414141;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}
.container .title {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #414141;
  font-size: 40px;
}
.container .project-description {
  padding-top: 30px;
  font-size: 18px;
  color: #414141;
  font-family: "Open Sans", Sans-Serif;
  line-height: 1.2;
  width: 60%;
}
.container .project-links {
  padding-top: 30px;
}
.container .project-links a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #414141;
  padding-right: 5px;
  font-size: 20px;
}
.container .glide {
  margin-top: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.container .glide .fa-chevron-left,
.container .glide .fa-chevron-right {
  color: black;
}
.container .glide img {
  width: 100%;
  height: 100%;
}
.container .technologies-used {
  padding-top: 30px;
}
.container .technologies-used h2 {
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: #414141;
  font-size: 30px;
}
.container .technologies-used span {
  padding: 10px 5px 0 0;
  font-size: 20px;
  font-family: "Open Sans", Sans-Serif;
  color: #414141;
}

@media all and (max-width: 550px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
  }
}
@media all and (max-width: 650px) {
  .container .project-description {
    width: 100%;
  }
}
html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
